.table-striped{
    margin-top: 70px;
}
.calendario{
    margin-top: 70px;
}
.dianormal{
    width:150px; 
    height:125px;
    padding:20;
}
.dia{
    float:left;
}
.tabla{
    border: solid grey 2px;
    background-color:aliceblue;
    border-radius: 5px;
}
th{
    background-color: lightgreen;
}
.dias{
 
    
}
